# This is Git's per-user configuration file.
[user]
	name = Frank Rügamer
	email = {{ .email }}
[alias]
  ignore = "!gi() { IFS=','; curl -sL https://www.gitignore.io/api/\"$*\"; }; gi"
  c = "!commit() { git commit -m \"$*\"; }; commit"
[core]
	pager = diff-so-fancy | less --tabs=4 -R
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[pull]
	rebase = false

# vim: ft=gitconfig
